@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

body {
	background: black;
	margin: 0;
	font-family: "Poppins";
}

.pages {
	max-width: 1400px;
	padding: 20px;
	margin: 0 auto;
}

.workout-details span {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background: #f1f1f1;
	padding: 6px;
	border-radius: 50%;
	color: #333;
}

.gradient {
	position: relative;
}

.gradient:before {
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
	filter: blur(20px);
	transform: translate3d(0px, 20px, 0);
	border-radius: inherit;
}

.gradient:after {
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: inherit;
	border-radius: inherit;
}
.login-gradient {
	position: relative;
}

.login-gradient:before {
	position: absolute;
	z-index: -1;
	content: "";
	top: 12%;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
	filter: blur(20px);
	transform: translate3d(0px, 10px, 0);
	border-radius: inherit;
}

.login-gradient:after {
	position: absolute;
	z-index: -1;
	content: "";
	top: 15%;
	left: 0;
	bottom: 0;
	right: 0;
	background: inherit;
	border-radius: inherit;
}

.workout-form {
	background: darkgrey;
}
